/* src/styles/theme.css */

:root {
  /* Light Mode */
  --background-color-light: #ffffff;
  --text-color-light: #333333;
  --button-bg-light: #4caf50;
  --button-text-light: #ffffff;
  --input-bg-light: #f4f4f4;
  --input-text-light: #333333;

  /* Dark Mode */
  --background-color-dark: #121212;
  --text-color-dark: #e0e0e0;
  --button-bg-dark: #4caf50;
  --button-text-dark: #ffffff;
  --input-bg-dark: #333333;
  --input-text-dark: #e0e0e0;
}

/* Global Styles */
body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  font-family: "Arial", sans-serif;
  transition: all 0.3s ease;
}

/* Dark Mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
}

input,
button {
  padding: 12px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input {
  background-color: var(--input-bg-light);
  color: var(--input-text-light);
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

button {
  background-color: var(--button-bg-light);
  color: var(--button-text-light);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
